.container {
    margin: 30px auto;
    padding: 20px;
    width: 60%;
    color: white;
    background-color: #333;
    box-shadow: 8px 8px 8px black;
}
.container h1 {
    text-align: center;
    padding: 20px;
    font-weight: 500;
    color: orange;
}